@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

.mt5{
    margin-top: 5px;
}

.mt8{
    margin-top: 8px;
}

.ml1{
	margin-left:1rem ;
}

.mb1{
    margin-bottom: 1px;
}

.left36{
	margin-left: 15rem;
}

.border{
    /* border: 1px solid rgb(255, 200, 21); */
  }

  .primaryColor{
	  color: rgb(255, 200, 21);
	  font-weight: bold;
  }

.overflowHidden{
    overflow: hidden
}

.poppinfont{
    font-family: 'Poppins', sans-serif;

}

.b{
    font-weight: bold;
}
.badgePill{
    padding-right: .6em;
padding-left: .6em;
border-radius: 10rem;
}
.yellow{
    background-color: rgb(255, 200, 21);
    border: 1px solid rgb(255, 200, 21);
    
}

.textSecondary{
    color: rgb(146, 142, 142);

}

.divider{
    background: #8c8c8e;
width: 100%;
height: 2px;
opacity: .3;
z-index: -1;
position: relative;
}

.divider1{
    background: #8c8c8e;
width: 100%;
height: 2px;
opacity: .3;
/* z-index: -1; */
position: relative;
}

.readytoWork {
	background: rgb(255, 200, 21);
	border-radius: 50%;
	margin: 10px;
	height: 15px;
	width: 15px;

	box-shadow: 0 0 0 0 rgba(255,255,255, 1);
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255,255,255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	}
}

.darkBackground{
	background-color: rgb(30, 34, 58,.5);
}

.fontSize13{
	font-size: 13px;
}

.svgColorWhite{
	fill: #fafafa;
}

.inheritColor{
	color: rgba(255,255,255, .5);
	transition:  0.5s ease;
    -moz-transition: 0.5s ease;
}

.inheritColor:hover{
	color: rgba(255,255,255, 1);
}

.zindex1{
	z-index: 1;
}

.infoImage{
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    z-index: 0;
}

.customflex1{
	
	display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
	  
}

.ml3{
	margin-left: 3rem;
}

.title{
	font-size: 4rem;
	font-family: Poppins;
	font-weight: bold;
	margin: 3rem;
}

.title2{
	font-size: 4rem;
	font-family: Poppins;
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.hat{

		position: absolute;
		
		transform: translate(-10px,-12px);
}

.educationlist{
    display: flex;
justify-content: center;
}
.educationBox{
    width: 50%;
}

.work{
	
	transform: translate(0px,-24px);
}
.popfont{
	font-family:Poppins ;
}
.popfontbold{
	
	font-family:Poppins ;
	font-weight: bold;
	

}