.card{
 /* border: 1px solid red;    */
 display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 75%;
}
.carditem{
    background-color: rgb(28, 31, 51);
    margin: .5rem;
    /* border: 1px solid yellow; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}

.childCard{
 /* border: 2px solid red;    */
    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.childitemcard{
    
    width: 50%;
    padding: 1.5rem;
    
  
}

.divliststyle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.cardcenter{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.itemText{
    font-size: 2em;
    overflow: hidden;
    display: block;
}
@media screen and (min-width: 0px) and (max-width: 750px) {
	.card{
		width: 100%;
	}
	.childitemcard{

        padding-bottom: 2.3em;
        padding-top: 2.3em;
    }
  }