@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.primary{
    color:white;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.secondary{
    color: rgb(146, 142, 142);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.avatarDiv{
    background-color: rgb(30, 34, 58);
    position: sticky;
   
}

.infoImage{
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    z-index: 0;
}

.subPrimary{
    color:white;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.subSecondary{
    color: rgb(146, 142, 142);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}