.divBc{
    border:1px solid red;

}
.ml{
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.mr-1{
    margin-right: 1px;
}

.dark{
    background-color: rgb(51, 55, 78);
    color: white;

}

