.cardflexItems{
    margin : 1rem;
    

}

.cardMain{
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    -webkit-box-shadow: 0 4px 8px 0 rgb(0, 0, 0);;
    -moz-box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    border-radius: 5px;
    /* border: 1px solid red; */
    background-color: #1c1f33;
    
}

.cardMain:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);;
    -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* border: 1px solid red; */
}
.cardHeader{
   
    text-align: center;
    color:black;
    background-color:rgb(255, 200, 21) ;
}

.cardbody{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    display: -webkit-box;
    max-height: 80px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
   
}


.CardImage{
    width: 100%;
    height: 50%;
   
}

.imager{
    border-radius: 10px 10px 0px 0px;
}

.cardfooter{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cardFooterItem{

}



.cardflex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
}

